<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jadeApp2 copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>jadeApp2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F76CAD11E7250B60056B66E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FDE9DFC1E237B7600FD4EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4BB4B6E1D7D551400E7E260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4BB4B8A1D7D551400E7E260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4BB4B951D7D551400E7E260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
